

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 800px;

}

th {
  text-align: left;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

td, th {
  padding: 2px;
}
