body {
  box-sizing: border-box;
  margin: 0;
  /* background-image: url("https://i.pinimg.com/originals/c6/20/ca/c620caef7766c43a20b3ab81b2ebcbc0.png"); */
  background-size: cover;
}
h1,
h2 {
  color: white;
}
/* added for testing purposes */
.background {
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/c6/20/ca/c620caef7766c43a20b3ab81b2ebcbc0.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
}
#addEntryBtn {
  padding: 0.7rem 5rem;
  border: 3px solid #25194b00;
  border-radius: 2px;
  font-weight: 700;
  margin: 1rem;
  background-color: #25194bb7;
  background-repeat: no-repeat;
  outline: none;
  transition: padding 0.5s;
  color: white;
}
#addEntryBtn:hover {
  cursor: pointer;
  padding: 0.7rem 15rem;
  background-color: #25194b96;
  border-radius: 2rem;
}
#addEntryBtn:active {
  background-color: #6b4e62;
}
#weekDaysContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
.dayItem {
  border: 3px solid #937fa3b0;
  transition: border-radius 0.25s;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 105px;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
}
.dayItem p {
  align-self: flex-end;
  padding-right: 1rem;
  margin-top: 0.6rem;
  margin-bottom: 0.7rem;
}
.dayItem:hover {
  cursor: pointer;
  border-radius: 50%;
  border-color: #937fa300;
  background-color: #937fa3b0;
}
.dayItem:active {
  cursor: auto;
  background-color: #937fa3;
}
table,
td,
th {
  border: 2px solid #c7b8ceab;
}
table {
  width: 800px;
  color: white;
}
th {
  text-align: left;
  background-color: #9f7c7a79;
}
tr:nth-child(even) {
  background-color: #9f7c7a79;
}
tr:nth-child(odd) {
  background-color: #937fa3b0;
}
td {
}
td,
th {
  padding: 2px;
}
.tableDataTask {
  display: flex;
  justify-content: space-between;
}
.modalContainer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.678);
}
.modal {
  width: 600px;
  height: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://i.pinimg.com/originals/c6/20/ca/c620caef7766c43a20b3ab81b2ebcbc0.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.5rem;
  text-align: center;
  border-radius: 11% 89% 11% 89% / 89% 11% 89% 11%;
}
.divInModal {
  display: flex;
  flex-direction: column;
}
.modalContainer select {
  margin-bottom: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 2px;
  font-weight: 700;
  margin-right: 2rem;
  cursor: pointer;
}
.modalContainer button {
  padding: 0.2rem 1rem;
  border: 1px solid white;
  border-radius: 2px;
  font-weight: 700;
  margin-bottom: 1rem;
  background-color: #937fa3;
  color: white;
  outline: none;
}
#descriptionSelect {
}
#submitButton:hover {
  background-color: rgb(142, 187, 224);
  cursor: pointer;
}
#submitButton:active {
  background-color: rgb(204, 204, 204);
  cursor: auto;
}
.updateBtn,
.deleteBtn {
  width: 80px;
  margin-right: 10px;
  padding: 0.2rem 1rem;
  border: 2px solid white;
  border-radius: 2px;
  background-color: white;
  outline: none;
}
.updateBtn:hover {
  background-color: rgba(147, 163, 235, 0.521);
  cursor: pointer;
}
.deleteBtn:hover {
  background-color: #e04343b7;
  cursor: pointer;
}
.updateBtn {
  color: white;
  background-color: #9f7c7a79;
}
.deleteBtn {
  color: white;
  background-color: #9f7c7a79;
}
.updateBtn:active {
  background-color: rgb(147, 163, 235);
}
#deleteModal > div {
  display: flex;
  flex-direction: column;
  color: white;
}
.buttonsDiv {
  display: flex;
  justify-content: space-evenly;
}
#deleteModal > .modal {
  width: 500px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #937fa3;
}
.deleteButton {
  width: 10%;
  transition: width 0.25s;
}
.deleteButton:hover {
  background-color: #f5545485;
  cursor: pointer;
  width: 50%;
}
.deleteButton:active {
  cursor: auto;
}
.hidden {
  display: none;
}
